.direnv/
.envrc
.mypy_cache/
__pycache__/
*.pyc
.venv/
.vscode/
app/processes/chatbot/model/
app/databases/qdrant/qdrant_data/
app/databases/api/src/model_st
#python gitignore
*.pyo
*.pyd
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.ipynb_checkpoints/

scratchpad/
*.db
.env

.DS_Store
